/* #region common */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Roboto", system-ui;
    }

    .d-flex {
        display: flex;
    }

    #top-footer, #top-main, #midle-main1, #midle-main2, #midle-main3, #bottom-main {
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

/* #endregion common*/


/* #region debug */


    .debug *{
        border: 1px dashed black;
        
    }






    .debug header {
        background-color: red;
    }


    .debug .login {
        background-color: chocolate;
    }

    .debug .link{
        background-color: chocolate;
        width: 500px;
    }

    .debug .logo   {
        background-color: chocolate;
    }




    .debug #top-main {
        background-color: blue;
    }

    .debug .top-main-container {
        background-color: rgb(15, 135, 172);
        height: 400px;
        width: 800px;
    }

    .debug #midle-main1 {
        background-color: darkgray;
    }

    .debug #midle-main2 {
        background-color: rgb(237, 243, 158);
    }

    .debug #midle-main3 {
        background-color: rgb(207, 25, 131);
    }

    .debug .left-square {
        background-color: rgb(233, 128, 128);
        height: 400px;
        width: 600px;
    }

    .debug .right-square {
        background-color: rgb(23, 141, 63);
        height: 400px;
        width: 500px;
    }

    .debug #bottom-main {
        min-height: 500px;
        background-color: rgba(206, 114, 9, 0.596);
    }

    .debug .bottom-main-container {
        background-color: rgb(92, 6, 27);
        height: 700px;
        width: 1100px;
    }





    .debug footer {
        min-height: 50px;
        background-color: rgb(84, 85, 77);
    }

    .debug #top-footer {
        border-bottom: 1px solid white;
    }

    .debug .footer-left-square {
        background-color: rgb(233, 128, 128);
        height: 500px;
        width: 300px;
    }

    .debug .footer-right-square {
        background-color: rgb(23, 141, 63);
        height: 500px;
        width: 200px;
        border: 1px Dashed  rgb(255, 255, 255)
    }

    .debug .bottom-footer-container {
        background-color: burlywood;

    }

    .debug .bottone{
        background-color: brown;
    }

    .debug .logo-footer {
        background-color: brown;
    }


/* #endregion debug*/






/* #region  header*/

    .header-container {
        justify-content: center;
        padding: 5px;
        
    }

    .link {
        
        text-align: center;
    }

    .logo {
        width: 300px;
        
    }

    .login {
        width: 300px;
        text-align: end;
    }

    .login, .link, .logo {

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

/* #endregion  header*/



/* #region main */

    .top-main-container {
        border-radius: 10px;
        
        
    }

/* #endregion main*/




/* #region footer */

    #bottom-footer {
        justify-content: center;
        padding: 5px;
    }

    .bottom-footer-container {
        width: 1100px;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .bottone,
    .logo-footer {
        padding: 0.2rem;
    }

/* #endregion footer*/